In [1]:
import pandas as pd
import numpy as np
import numpy_financial as npf

In [11]:
df=pd.read_excel('PraeterBV_Case.xlsx',sheet_name='Opdracht_2_input_output')
df

    Unnamed: 0               Unnamed: 1    Unnamed: 2 Unnamed: 3    Unnamed: 4
0          NaN               Toepassing           NaN        NaN           NaN
1          NaN                      NaN           NaN        NaN           NaN
2          NaN                 Algemeen           NaN        NaN           NaN
3          NaN                 Inflatie          0.02        NaN        inputs
4          NaN            Afschrijving        Lineair        NaN        output
5          NaN          Eigen Vermogen            0.2        NaN  Stamgegevens
6          NaN                Rente VV           0.04        NaN           NaN
7          NaN                Belasting         0.165        NaN           NaN
8          NaN                      NaN           NaN        NaN           NaN
9          NaN                      NaN           NaN        NaN           NaN
10         1.0                Infrarood            Ja        NaN           NaN
11         NaN                  Termijn            12       jaar           NaN
12         NaN           Herinvestering             6       jaar           NaN
13         NaN                      NaN           NaN        NaN           NaN
14         NaN              Investering        160000        NaN           NaN
15         NaN      Subsidie (eenmalig)         10000        NaN           NaN
16         NaN               Restwaarde             0        NaN           NaN
17         NaN                      NaN           NaN        NaN           NaN
18         NaN                Inkomsten           NaN        NaN           NaN
19         NaN                Besparing         20000        NaN           NaN
20         NaN     Subsidie (jaarlijks)           800        NaN           NaN
21         NaN                      NaN           NaN        NaN           NaN
22         NaN                   Kosten           NaN        NaN           NaN
23         NaN        Eenmalige kosten          30000        NaN           NaN
24         NaN  Vaste exploitatiekosten          2000        NaN           NaN
25         NaN           Herinvestering          4000        NaN           NaN
26         NaN                      NaN           NaN        NaN           NaN
27         NaN             Financiering           NaN        NaN           NaN
28         NaN       Totale investering        150000        NaN           NaN
29         NaN             Afschrijving         12500        NaN           NaN
30         NaN                Aflossing         10000        NaN           NaN
31         NaN                      NaN           NaN        NaN           NaN
32         NaN                      NaN           NaN        NaN           NaN
33         NaN                      NaN           NaN        NaN           NaN
34         NaN                      NaN           NaN        NaN           NaN
35         NaN                      IRR      0.043872        NaN           NaN
36         NaN                      REV      0.049842        NaN           NaN
37         NaN       Winst na belasting  25901.984552        NaN           NaN
38         NaN                      TVT      9.532799        NaN           NaN

In [3]:
berekining_df=pd.read_excel('PraeterBV_Case.xlsx',sheet_name='Opdracht_2_berekening en output')
berekining_df.head(30)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,NaN,NaN,Eventueel output opdracht 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,NaN,NaN,Toepassing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,NaN,NaN,Jaar,0.0,1.0,2.00,3.0000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000,10.000000,11.000000,12.000000,1.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
6,NaN,1.0,Infrarood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
8,NaN,NaN,Inkomsten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
9,NaN,NaN,Besparing,NaN,20000.0,20400.00,20808.0000,21224.160000,21648.643200,22081.616064,22523.248385,22973.713353,23433.187620,23901.851372,24379.888400,24867.486168,1.0
10,NaN,NaN,Subsidie (jaarlijks),NaN,800.0,816.00,832.3200,848.966400,865.945728,883.264643,900.929935,918.948534,937.327505,956.074055,975.195536,994.699447,1.0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
12,NaN,NaN,Kosten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
13,NaN,NaN,Eenmalige kosten,-30000.0,0.0,0.00,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
14,NaN,NaN,Vaste exploitatiekosten,0.0,-2000.0,-2040.00,-2080.8000,-2122.416000,-2164.864320,-2208.161606,-2252.324839,-2297.371335,-2343.318762,-2390.185137,-2437.988840,-2486.748617,1.0
15,NaN,NaN,Herinvestering,0.0,0.0,0.00,0.0000,0.000000,0.000000,-4000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
17,NaN,NaN,EBITDA,-30000.0,18800.0,19176.00,19559.5200,19950.710400,20349.724608,16756.719100,21171.853482,21595.290552,22027.196363,22467.740290,22917.095096,23375.436998,1.0
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
19,NaN,NaN,Afschrijvingskosten,0.0,-12500.0,-12500.00,-12500.0000,-12500.000000,-12500.000000,-12500.000000,-12500.000000,-12500.000000,-12500.000000,-12500.000000,-12500.000000,-12500.000000,1.0
20,NaN,NaN,Financieringskosten,0.0,-4800.0,-4400.00,-4000.0000,-3600.000000,-3200.000000,-2800.000000,-2400.000000,-2000.000000,-1600.000000,-1200.000000,-800.000000,-400.000000,1.0
21,NaN,NaN,Belasting,0.0,-247.5,-375.54,-504.8208,-635.367216,-767.204560,-240.358652,-1034.855825,-1170.722941,-1307.987400,-1446.677148,-1586.820691,-1728.447105,1.0
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
23,NaN,NaN,Winst na belasting,-30000.0,1252.5,1900.46,2554.6992,3215.343184,3882.520048,1216.360449,5236.997658,5924.567611,6619.208963,7321.063142,8030.274405,8746.989893,1.0
24,NaN,NaN,Cashflow IRR,-180000.0,18552.5,18800.46,19054.6992,19315.343184,19582.520048,16516.360449,20136.997658,20424.567611,20719.208963,21021.063142,21330.274405,21646.989893,1.0
25,NaN,NaN,Cashflow REV,-60000.0,3752.5,4400.46,5054.6992,5715.343184,6382.520048,3716.360449,7736.997658,8424.567611,9119.208963,9821.063142,10530.274405,11246.989893,1.0
26,NaN,NaN,TVT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.532799,10.506323,11.480436,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [16]:
def cashflowsRekening(df,output_path="cashflow_output2.xlsx"):
 df=pd.read_excel('PraeterBV_Case.xlsx',sheet_name='Opdracht_2_input_output')
 investering= df.iloc[14, 2]
 subsidie_eenmalig=df.iloc[15,2]
 restwaarde=df.iloc[16,2]

In [17]:
print(f"Investering: {investering}")
print(f"Subsidie(eenmalig): {subsidie_eenmalig}")
print(f"Restwaarde: {restwaarde}")

Investering: 160000
Subsidie(eenmalig): 10000
Restwaarde: 0

In [18]:
besparing=df.iloc[19,2]
subsidie_jaarlijks=df.iloc[20,2]
belasting=df.iloc[7,2]

In [19]:
print(f"Besparing: {besparing}")
print(f"Subsidie(jaarlijks): {subsidie_jaarlijks}")
print(f"belasting: {belasting}")

Besparing: 20000
Subsidie(jaarlijks): 800
belasting: 0.165

In [20]:
kosten_eenmalig=df.iloc[23,2]
kosten_exploitatie=df.iloc[24,2]
herinvestering=df.iloc[25,2]

In [21]:
print(f"Eenmalige kosten: {kosten_eenmalig}")
print(f"Vaste exploitatiekos: {kosten_exploitatie}")
print(f"Herinvestering: {herinvestering}")

Eenmalige kosten: 30000
Vaste exploitatiekos: 2000
Herinvestering: 4000

In [22]:
termijn = df.iloc[11, 2]
inflatie= df.iloc[3, 2]
jaar_herinvesteer=df.iloc[12, 2]
Totale_investering=df.iloc[28,2]
afschrijving= df.iloc[29, 2]
Aflossing= df.iloc[30, 2]

In [23]:
print(f"Termijn: {termijn}")
print(f"Inflatie: {inflatie}")
print(f"jaar herinvesteer: {jaar_herinvesteer}")
print(f"Aflossing: {Aflossing}")
print(f"afschrijving: {afschrijving}")
print(f"Totale investering : {Totale_investering}")

Termijn: 12
Inflatie: 0.02
jaar herinvesteer: 6
Aflossing: 10000
afschrijving: 12500
Totale investering : 150000

In [24]:
eigen_vermogen=Totale_investering*0.2+kosten_eenmalig
print(f"Eigen vermogen : {eigen_vermogen}")

Eigen vermogen : 60000.0

In [25]:
rente_VV = [0] + [int((120000 - 10000 * (i - 1)) * 0.04) for i in range(1, 13)]
rente_VV

[0, 4800, 4400, 4000, 3600, 3200, 2800, 2400, 2000, 1600, 1200, 800, 400]

In [26]:
import numpy as np

belasting_perc = 0.1650
cashflows_rev = [-eigen_vermogen]  #1 Jaar
winst_na_belasting = [kosten_eenmalig]

start_investering = -(investering - subsidie_eenmalig + kosten_eenmalig)
cashflows = [start_investering] 


for jaar in range(1, termijn + 1):
  
    inkomsten =  inkomsten = (besparing + subsidie_jaarlijks) * ((1 + inflatie) ** (jaar - 1))
   
    kosten = kosten_exploitatie * ((1 + inflatie) ** (jaar - 1))
   
    if jaar == jaar_herinvesteer:
        kosten += herinvestering
   
    ebitda = inkomsten - kosten
    ebit = ebitda - afschrijving 
    rente = rente_VV[jaar]
    ebt = ebit - rente
    belasting = ebt * belasting_perc if ebt > 0 else 0
    pat = ebt - belasting
   
    cashflow = pat + afschrijving + rente
    cashflows.append(round(cashflow, 0))

    cashflow_rev = (pat + afschrijving) - Aflossing
    cashflows_rev.append(round(cashflow_rev, 0))

    winst_na_belasting.append(round(pat, 0))


print(" Jaarlijkse cashflow IRR:\n")
for jaar, cf in enumerate(cashflows):
    print(f"jaar {jaar}: {cf:,.0f} ")
    
irr = npf.irr(cashflows) * 100
print(f"(IRR): {irr:.2f}% \n")

print("Jaarlijkse cashflow REV:\n")
for jaar, rev in enumerate(cashflows_rev):
    print(f"REV jaar {jaar} = {rev:,.0f} ")
    
rev = npf.irr(cashflows_rev) * 100
print(f"(rev): {rev:.2f}% \n")

print("Winst na belasting:\n")
for jaar, winst in enumerate(winst_na_belasting):
    print(f"winst_na_belasting jaar {jaar} = {winst:,.0f} ")

totaal_winst = sum(winst_na_belasting)
winst=totaal_winst-eigen_vermogen
print(f"\n Winst na belasting : {winst:,.0f} ")

 Jaarlijkse cashflow IRR:

jaar 0: -180,000
jaar 1: 18,552
jaar 2: 18,800
jaar 3: 19,055
jaar 4: 19,315
jaar 5: 19,583
jaar 6: 16,516
jaar 7: 20,137
jaar 8: 20,425
jaar 9: 20,719
jaar 10: 21,021
jaar 11: 21,330
jaar 12: 21,647
(IRR): 4.39%

Jaarlijkse cashflow REV:

REV jaar 0 = -60,000
REV jaar 1 = 3,752
REV jaar 2 = 4,400
REV jaar 3 = 5,055
REV jaar 4 = 5,715
REV jaar 5 = 6,383
REV jaar 6 = 3,716
REV jaar 7 = 7,737
REV jaar 8 = 8,425
REV jaar 9 = 9,119
REV jaar 10 = 9,821
REV jaar 11 = 10,530
REV jaar 12 = 11,247
(rev): 4.98%

Winst na belasting:

winst_na_belasting jaar 0 = 30,000
winst_na_belasting jaar 1 = 1,252
winst_na_belasting jaar 2 = 1,900
winst_na_belasting jaar 3 = 2,555
winst_na_belasting jaar 4 = 3,215
winst_na_belasting jaar 5 = 3,883
winst_na_belasting jaar 6 = 1,216
winst_na_belasting jaar 7 = 5,237
winst_na_belasting jaar 8 = 5,925
winst_na_belasting jaar 9 = 6,619
winst_na_belasting jaar 10 = 7,321
winst_na_belasting jaar 11 = 8,030
winst_na_belasting jaar 12 = 8,747

 Winst na belasting : 25,900

In [27]:
cumulative = 0
TVT = 0

for i in range(1, len(cashflows_rev)):
    cumulative += cashflows_rev[i]
    if cumulative >= eigen_vermogen:
        
        overschrijden = cumulative - eigen_vermogen
        overshoot_fractional = overschrijden / cashflows_rev[i]
        tvt = i - overshoot_fractional
        break

print(f" TVT = {tvt:.2f} jaar")

 TVT = 9.58 jaar

In [29]:
    jaren = list(range(0, termijn + 1))
    df_output = pd.DataFrame({
        "Jaar": jaren,
        "Cashflow IRR (€)": cashflows,
        "Cashflow REV (€)": cashflows_rev,
        "Winst na belasting (€)": winst_na_belasting
    })

    extra_info = pd.DataFrame({
        "Jaar": ["", "IRR (%)", "REV (%)", "Winst Netto (€)", "TVT (jaren)"],
        "Cashflow IRR (€)": ["", round(irr, 2), "", round(winst_netto, 0), round(tvt, 2)],
        "Cashflow REV (€)": ["", "", round(rev, 2), "", ""],
        "Winst na belasting (€)": ["", "", "", "", ""]
    })

    df_final = pd.concat([df_output, extra_info], ignore_index=True)
    df_final.to_excel(output_path, index=False)

    print(f"Bestand succesvol opgeslagen: {output_path}")

TypeError: type list doesn't define __round__ method

In [8]:
df =pd.read_excel('PraeterBV_Case.xlsx',sheet_name='Opdracht_2_input_output')
cashflowsRekening(df, output_path="output_cashflows.xlsx")

TypeError: cashflowsRekening() got an unexpected keyword argument 'output_path'